<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="messNoResult" value="Cam on ban da gui ho so den chung toi..."/>
    <add key="messResultHasGone" value="Cam on ban da cho doi, hien tai da co ket qua...."/>
    <add key="user" value="ubndtantaoaws"/>
    <add key="pass" value="UbNd*T@nT@0"/>
    <add key="ip" value="http://221.132.39.104:8083/brandnamews.asmx/"/>
    <add key="brandname" value="UBNDTANTAOA"/>
    <add key="messType" value="1"/>
    <add key="host" value="127.0.0.1"/>
    <add key="database" value="HoSo2018"/>
    <add key="username" value="root"/>
    <add key="password" value="1234"/>
  </appSettings>
</configuration>
